#textdomain wesnoth-Mystery_Campaign

#
# NOTE: when launching singleplayer mode I get
# 'wesnoth: src/random.cpp:75: int get_random_nocheck(): >>random_generator=!_null<< failed'
# the same with I_dream campaign
#

## Mystery_Campaign.cfg
[textdomain]
    name=wesnoth-Mystery_Campaign
    path=data/add-ons/Mystery_Campaign/translations
[/textdomain]

[binary_path]
    path=data/add-ons/Mystery_Campaign/external_binary_data/
[/binary_path]

[campaign]
    id=mystery_campaign
    abbrev=_"MC"
    icon="items/ball-blue.png"
    image="MC_campaign_image.png"
    name=_"Mystery Campaign"
#ifdef DEBUG_MODE
    first_scenario=mystery_scenario_debug
#else
    first_scenario=mystery_scenario
#endif
    #textdomain wesnoth
    difficulties=EASY,NORMAL,HARD
    #textdomain wesnoth-Mystery_Campaign
    difficulty_descriptions={MENU_IMG_TXT2 "pillager-beastie1.png"  (_"Skirmisher")  (_"(Easy)")} +
    ";*" + {MENU_IMG_TXT2  "pillager-beastie2.png"  (_"Battle Tutor")  (_"(Not so easy)")} +
    ";" + {MENU_IMG_TXT2  "pillager-beastie3.png" (_"Veteran") ( _"(Nightmare)")}
    define=CAMPAIGN_MYSTERY
    extra_defines=ENABLE_DWARVISH_ARCANISTER,ENABLE_ARMAGEDDON_DRAKE,ENABLE_DEATH_KNIGHT,ENABLE_ROUSER
    end_cedits=no
    description=_"This is an infinitely long, random, campaign. As you play, it gets increasing difficult in various ways. How many scenarios can you complete?"

    [about]
        title=_"Campaign Designer"
        text=_"Josh Parsons/jp30"
    [/about]
    [about]
        title=_"Previous Maintainer"
        text=_"zaimoni"
    [/about]
    [about]
        title=_"Current Maintainer"
        text=_"trewe"
    [/about]
    [about]
        title=_"Miscellaneous"
        text=_"Patched by: ott, ivanovic, szopen"
    [/about]
[/campaign]

#ifdef CAMPAIGN_MYSTERY
[binary_path]
    path=data/add-ons/Mystery_Campaign
[/binary_path]

[language]
    #textdomain wesnoth
    type_arcane_focus= _ "arcane"
[/language]

{~add-ons/Mystery_Campaign/utils}
{~add-ons/Mystery_Campaign/maps}
{~add-ons/Mystery_Campaign/scenarios}

#ifdef DEBUG_MODE
[scenario]
    name=_"Mystery Scenario DEBUG"
    id=mystery_scenario_debug
    #description= _ "Currently broken! Do not try to play with it."
    turns=-1
    next_scenario=null
    map_generation=default
    #scenario_generation=default
    {RANDOM_MAP_DEFAULT}
    #  		[+generator]
    #  			[settings]
    #  				name= _ "Random map mystery_campaign debug"
    #  				id=mystery_scenario_debug
    #  				turns=-1
    # 				next_scenario=null
    #  				{DEFAULT_MUSIC_PLAYLIST}
    #  				{DEFAULT_SCHEDULE}
    #  				[side]
    #  					side=1
    #					controller=human
    #  					team_name=player1
    #  				[/side]
    #  				[side]
    #  					side=2
    #					controller=ai
    #  					team_name=player2
    #  				[/side]
    #  			[/settings]
    #  		[/generator]
    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}
    [side]
        side=1
        controller=human
        team_name=player1
    [/side]
    [side]
        side=2
        controller=ai
        team_name=player2
    [/side]
[/scenario]
#endif

## set up units
[+units]
    {~add-ons/Mystery_Campaign/races}
    {~add-ons/Mystery_Campaign/units}
[/units]
#endif

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Mystery_Campaign
[/binary_path]

[language]
    #textdomain wesnoth
    type_arcane_focus= _ "arcane"
[/language]

{~add-ons/Mystery_Campaign/utils}
{~add-ons/Mystery_Campaign/era.cfg}
{~add-ons/Mystery_Campaign/maps}

## set up units
[+units]
#ifver WESNOTH_VERSION < 1.11.1
    [unit_type]
        # Fake unit to allow choosing random
        id=EE_dummy_unit
        #textdomain wesnoth-Mystery_Campaign
        name=_ "dummy_unit^Random No Mirror"
        image="units/unknown-unit.png"
        alignment=neutral
        {MAGENTA_IS_THE_TEAM_COLOR}
        hide_help=true
        do_not_list=yes
    [/unit_type]
#endif
    {~add-ons/Mystery_Campaign/races}
    {~add-ons/Mystery_Campaign/units}
[/units]
#endif

# wmllint: match {WEAPON_SPECIAL_COUNTER} with {SPECIAL_NOTES_COUNTER}
# wmllint: match {ABILITY_DISTRACT} with {SPECIAL_NOTES_DISTRACT}
# wmllint: match {ABILITY_INSPIRE_ with {SPECIAL_NOTES_INSPIRE}
# wmllint: match {ABILITY_PROTECTION} with {SPECIAL_NOTES_PROTECTION}
# wmllint: match {ABILITY_TERROR} with {SPECIAL_NOTES_TERROR}
# wmllint: match {ABILITY_DARKENS} with {SPECIAL_NOTES_DARKENS}
# wmllint: match {ABILITY_CAVESTALK} with {SPECIAL_NOTES_CAVESTALK}
